img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-section {
    text-align: center;
}